version: '3.1'

services:
 web:
  build: ./nginx
  restart: always
  volumes:
   - ./templates:/etc/nginx/templates
  ports:
   - "80:80"
  environment:
   - NGINX_HOST=foobar.com
   - NGINX_PORT=80
 db:
    build: ./db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: example

 adminer:
    build: ./adminer
    restart: always
    ports:
      - 8082:8080

 node-exporter:
    image: prom/node-exporter
    container_name: node-exporter
    hostname: node-exporter
    restart: always
    ports:
      - "9100:9100"

